bin
obj
.vs/MateriaCore/DesignTimeBuild/.dtbcache.v2
.vs/MateriaCore/DesignTimeBuild/.dtbcache.v2
.vs/MateriaCore/v16/.suo
.vs/MateriaCore/v16/Browse.VC.db
.vs/MateriaCore/DesignTimeBuild/.dtbcache.v2
.vs/MateriaCore/v16/.suo
.vs/MateriaCore/v16/Browse.VC.db
